html,
body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

#root {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
	background-color: #1a1a1d;
}

.joinInnerContainer {
	width: 20%;
}

.joinInput {
	border-radius: 0;
	padding: 15px 20px;
	width: 100%;
}

.heading {
	color: white;
	font-size: 2.5em;
	padding-bottom: 10px;
	border-bottom: 2px solid orange;
}

.button {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	width: 100%;
}

button:focus {
	outline: 0;
}

@media only screen and (max-width: 600px) {
	.joinInnerContainer {
		width: 80%;
	}
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
	.joinInnerContainer {
		width: 40%;
	}
}
